.borda{
    padding: 1rem;
    border-radius: 15px;
    background: var(--color5);
}
.conteudo{
    margin: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.form-texto{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    border-style: none;
    border-radius: 0.5rem;
}
.centro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
.texto{
    margin: 0;
    font-size: 1.5rem;
}